{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <h1>My Lists</h1>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of items</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for todo in todo_listy %}
                        <tr>
                            <td><a href="{% url 'todo_list_detail' todo.id %}">{{ todo.name }} </a></td>
                            <td></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
        </div>
    </main>
</body>
</html>
